<!DOCTYPE html>
<html>
  <head>
  	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> 
  	<h1>Hi <%= @subscriber.name %></h1>
    <p> "Website changed, please look" </p>
    <br> <br> <br>
    <h2> Please PFA the initial, current and diff images </h2>
    <p> The difference is <%= @diff %> </p>
  </body>
</html>
